.ScholarPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: var(--main-bg-color-gradient);
  animation: fadein 1500ms ease forwards;
}

.ScholarPage-pregame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ScholarPage-title {
  margin-top: 10px;
  color: var(--main-white-color);
  font-size: 4.5rem;
  text-align: center;
}

.ScholarPage-subtitle {
  margin-top: -0.5rem;
  color: var(--main-gold-color);
  font-size: 1.5rem;
  text-align: center;
}

.ScholarPage-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation: fadein 1500ms ease forwards;
}
