.TimeArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 65%;
  height: auto;
}

.TimeArrow-padding {
  flex-grow: 1;
  width: 100%;
}

.TimeArrow-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
  margin: 0 25px 0 25px;
  width: clamp(3px, 0.3rem, 8px);
  height: 8rem;
  background-color: #d4d4d4;
  border-radius: 2px;
  animation: TimeArrow-arrowhead--expand 1250ms ease;
}

.TimeArrow-arrowhead {
  filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(919%) hue-rotate(103deg) brightness(92%) contrast(86%);
  margin-bottom: -5px;
  width: clamp(12px, 1.1rem, 18px);
  aspect-ratio: 1;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.TimeArrow-text {
  color: #ffffff;
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 0;
  animation: fadein 1250ms ease 500ms forwards;
}

@media only screen and (max-width: 600px) {
  .TimeArrow {
    width: 90%;
  }
}

@keyframes TimeArrow-arrowhead--expand {
  0% {
    height: 0;
  }
  100% {
    height: 8rem;
  }
}
