.MIBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4rem 0 4rem 0;
}

.MIBar-element {
  position: relative;
  margin: 0 4rem 0 4rem;
  width: 11rem;
  height: 11rem;
}

.MIBar-element:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .MIBar-element {
    margin: 0;
  }
}
