.Mask {
    position: absolute;
    transition: opacity 500ms ease 25ms;
    width: 11rem;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.Mask--hidden {
    opacity: 0.15;
}
