.TimeSlot {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 75%;
  padding: 1rem 0 1.5rem 0;
  margin: 2rem 0 2rem 0;
  background-color: var(--main-bg-color-offset);
  border-radius: 20px;
  animation: TimeSlot--swoop 1250ms ease;
}

.TimeSlot--right {
  justify-content: flex-end;
  animation-play-state: paused;
  animation: TimeSlot--swoop-right 1250ms ease;
}

.TimeSlot-header {
  display: flex;
  justify-content: center;
}

.TimeSlot-title {
  font-family: Poppins, Courier;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  color: #ffffff;
}

.TimeSlot-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.TimeSlot-image {
  width: 8rem;
  aspect-ratio: 1;
  margin: 0 1rem 0 1rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.TimeSlot-text {
  color: var(--main-white-color);
  font-size: 1.15rem;
  font-family: Poppins, Courier;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {
  .TimeSlot {
    width: 90%;
    border-radius: 15px;
  }
}

@keyframes TimeSlot--swoop {
  0% {
    margin-right: 8rem;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes TimeSlot--swoop-right {
  0% {
    margin-left: 8rem;
  }
  100% {
    margin-left: 0;
  }
}
