.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #12232e;
}

.HomePage__intro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #12232e;
  z-index: 5;
}

.HomePage__intro--fadeout {
  animation: fadeout 1000ms ease 1750ms forwards;
}

.HomePage__unlock {
  width: 128px;
  height: 128px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.title {
  width: fit-content;
  margin: 0.9rem 0 0 0;
  color: #ffffff;
  font-size: 6rem;
  font-family: 'Acme', cursive;
}

.subtitle {
  width: fit-content;
  color: #c7c7c7;
  margin: -0.9rem 0 0;
  font-size: 1.8rem;
  font-family: 'Acme', cursive;
}

.mask-identity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.mask-identity-container__element {
  position: relative;
  margin: 0 4rem 0 4rem;
  width: 11rem;
  aspect-ratio: 1;
}

.mask-identity-container__element:focus {
  outline: none;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mask-identity-container__element {
    margin: 0;
  }
}
